<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="fold_elevator" params="name parent *origin">

    <link name="${name}_base_link">
      <inertial>
        <origin
          xyz="0.0891357515039702 -0.0600105188224723 0.0319343260117339"
          rpy="0 0 0" />
        <mass
          value="2.26283180383215" />
        <inertia
          ixx="0.00682098629888102"
          ixy="1.35383918129792E-06"
          ixz="-0.00120985513326378"
          iyy="0.00688180551407474"
          iyz="-3.55019811213944E-06"
          izz="0.00613738161557863" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/visual/base_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/collision/base_link.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
      <xacro:insert_block name="origin" />
      <axis xyz="0 0 1"/>
    </joint>

    <link name="link1">
      <inertial>
        <origin
          xyz="0.150849204106985 -9.1876604810387E-06 -0.0581278906888667"
          rpy="0 0 0" />
        <mass
          value="2.976039924942" />
        <inertia
          ixx="0.00314898163070912"
          ixy="1.59802506736583E-06"
          ixz="-0.00103470671766679"
          iyy="0.0456464411263901"
          iyz="-2.66237977525087E-06"
          izz="0.0473958313229646" />
      </inertial>
      
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/visual/link1.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/collision/link1.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint1" type="revolute">
      <origin xyz="0.054623 -0.06 0.105" rpy="1.57079632679 -1.57079632679 -1.57079632679" />
      <parent link="${name}_base_link" />
      <child link="link1" />
      <axis xyz="0 0 1" />
      <limit
        lower="0"
        upper="1.1344640138"
        effort="1"
        velocity="0.1745329252" />
    </joint>

    <link name="link2">
      <inertial>
        <origin
          xyz="0.161224779586109 8.26876809245647E-06 -0.00983121345856443"
          rpy="0 0 0" />
        <mass
          value="0.393142489079521" />
        <inertia
          ixx="0.000385544833741543"
          ixy="-2.63936177834169E-09"
          ixz="-3.85228060816533E-05"
          iyy="0.00680577641372018"
          iyz="-1.06477904379006E-11"
          izz="0.00713642342666465" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/visual/link2.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/collision/link2.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint2" type="revolute">
      <origin xyz="0.325 0 0" rpy="0 0 0" />
      <parent link="link1" />
      <child link="link2" />
      <axis xyz="0 0 1" />
      <limit
        lower="-2.7925268032"
        upper="2.7925268032"
        effort="1"
        velocity="0.2617993878" />
    </joint>

    <link name="link3">
      <inertial>
        <origin
          xyz="9.75482671417005E-07 -0.053417702239025 -0.00442438411320098"
          rpy="0 0 0" />
        <mass
          value="0.236077153637359" />
        <inertia
          ixx="0.00154414234187567"
          ixy="-3.0605171029781E-07"
          ixz="-7.56364769224484E-08"
          iyy="0.000440001934114007"
          iyz="-3.94550247420016E-05"
          izz="0.00123808020961714" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/visual/link3.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/collision/link3.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint3" type="revolute">
      <origin xyz="0.325 0 0" rpy="0 0 1.57079632679" />
      <parent link="link2" />
      <child link="link3" />
      <axis xyz="0 0 1" />
      <limit
        lower="-2.35619449"
        upper="2.35619449"
        effort="1"
        velocity="0.3490658504" />
    </joint>

    <link name="link4">
      <inertial>
        <origin
          xyz="-7.51764107198181E-05 -6.84269468244347E-06 -0.00630278043796051"
          rpy="0 0 0" />
        <mass
          value="0.224129183175339" />
        <inertia
          ixx="0.000213048176718895"
          ixy="-8.46287520238891E-08"
          ixz="-1.96952804294215E-07"
          iyy="0.000213730397858472"
          iyz="-2.37665947796012E-08"
          izz="0.000419496066447268" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/visual/link4.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://fold_elevator_description/meshes/collision/link4.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint4" type="revolute">
      <origin xyz="0 -0.172 -0.0070273" rpy="1.57079632679 1.57079632679 0" />
      <parent link="link3" />
      <child link="link4" />
      <axis xyz="0 0 1" />
      <limit
        lower="-3.4906585"
        upper="3.4906585"
        effort="1"
        velocity="1.5707963268" />
    </joint>
    
  </xacro:macro>
</robot>